#navigation {
  padding: 0px 50px;
  height: 11vh;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 90%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #090c0a;
  font-family: $font2;
  align-items: center;
  &.visible {
    top: 0;
    transition: top 0.5s ease-out;
  }

  &.hidden {
    top: -120px;
    transition: top 0.5s ease-out;
  }
  .symbols-left {
    span {
      font-size: 2.5rem;
      color: $green;
    }
  }
  .navigation-right {
    display: flex;
    align-items: center;
    justify-self: end;
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      @media screen and (max-width: 1180px) {
        font-size: 0.9rem;
      }
      li {
        cursor: pointer;
        transition: 0.4s ease-in-out;
        &:hover {
          color: $green;
          transform: scale(1.05);
        }

        .theme-toggle-btn {
          background: #1a1a1a;
          color: #a1a1aa;
          padding: 10px 20px;
          border-radius: 10px;
          transform: translateY(-13%);
          &:hover {
            color: $green;
          }
          i {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.nav-active {
  position: relative;
  color: $green;
  transition: 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: $green;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    color: $grey;
    filter: brightness(90%);
  }
}
body.dark-mode {
  background: linear-gradient(
    90deg,
    rgba(2, 2, 2, 1) 0%,
    rgba(8, 11, 9, 1) 91%,
    rgba(17, 23, 19, 1) 97%
  );
  color: $white;
}
body.light-mode {
  background: $white;
  color: $black;
}
#navigation.light-mode {
  background: #323232;
  color: $white;
}
.navbar_burger {
  width: 40px;
  height: 40px;
  color: inherit;
  display: none;
}
.burger {
  display: none;
}
@media screen and (max-width: 950px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2px;
    background: #070a08;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    &.light-mode {
      background: $white;
      color: $black;
      visibility: hidden;
    }
  }
  .show-nav .navbar_links {
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .navbar-link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar_burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .burger {
    display: block;
    cursor: pointer;
    height: 30px;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: $green;
    transition: all 0.8s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
    background: transparent;
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
}
