.caroussel {
  height: 380px;
  position: relative;
  margin: 30px 0;
  button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
    color: $green;
    transform: translateY(-50%);
    top: 50%;
    font-size: 2.5rem;
    @media screen and (max-width: 400px) {
      font-size: 2rem;
    }
  }
  #prev {
    left: 12px;
  }
  #next {
    right: 12px;
  }
  li {
    list-style: none;
  }

  .slide {
    position: absolute;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: 0.4s ease-in-out;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &.active {
      opacity: 1;
    }
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 15px;
    }
  }

  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    color: $black;
    padding-bottom: 15px;
    cursor: default;
  }
}
