#navigation {
  padding: 15px 50px;
  height: 11vh;
  display: grid;
  grid-template-columns: 10% 90%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #090c0a;
  font-family: $font2;
  &.visible {
    top: 0;
    transition: top 0.5s ease-out;
  }

  &.hidden {
    top: -120px;
    transition: top 0.5s ease-out;
  }
  .symbols-left {
    span {
      font-size: 2.5rem;
      color: $green;
    }
  }
  .navigation-right {
    display: flex;
    align-items: center;
    justify-self: end;
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        cursor: pointer;
        &:hover {
          color: $green;
          transform: scale(1.05);
          transition: 0.4s ease-in-out;
          filter: brightness(150%);
        }
      }
    }
  }
}

.nav-active {
  position: relative;
  color: $green;
  transition: 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: $green;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    color: $grey;
    filter: brightness(90%);
  }
}
