#navigation {
  padding: 15px 50px;
  height: 11vh;
  display: grid;
  grid-template-columns: 10% 90%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #090c0a;
  font-family: $font2;
  &.visible {
    top: 0;
    transition: top 0.5s ease-out;
  }

  &.hidden {
    top: -120px;
    transition: top 0.5s ease-out;
  }
  .symbols-left {
    span {
      font-size: 2.5rem;
      color: $green;
    }
  }
  .navigation-right {
    display: flex;
    align-items: center;
    justify-self: end;
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        cursor: pointer;
        transition: 0.4s ease-in-out;
        &:hover {
          color: $green;
          transform: scale(1.05);
        }
        .theme-toggle-btn {
          background: #1a1a1a;
          color: #a1a1aa;
          padding: 10px 20px;
          border-radius: 10px;
          transform: translateY(-13%);
          &:hover {
            color: $green;
          }
          i {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.nav-active {
  position: relative;
  color: $green;
  transition: 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: $green;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    color: $grey;
    filter: brightness(90%);
  }
}
body.dark-mode {
  background: linear-gradient(
    90deg,
    rgba(2, 2, 2, 1) 0%,
    rgba(8, 11, 9, 1) 91%,
    rgba(17, 23, 19, 1) 97%
  );
  color: $white;
}
body.light-mode {
  background: $white;
  color: $black;
}
#navigation.light-mode {
  background: #323232;
  color: $white;
}
