#projets-content {
  margin-top: 150px;
  @media screen and (max-width: 810px) {
    margin-top: 80px;
  }
  h2 {
    margin: 60px auto;
  }
  .projets-text {
    height: auto;
    margin-top: 50px;
  }
}
