@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
$font1: Poppins, serif;

@font-face {
  font-family: "Allura";
  src: url(../assets/fonts/Allura-Regular.ttf);
}
$font2: Allura, serif;

$white: #ffffff;
$black: #21201e;
$green: #22c55e;
$grey: #7d7d84;

@mixin childCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

body {
  text-align: center;
  font-family: $font1;
  background: rgb(2, 2, 2);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 2, 1) 0%,
    rgba(8, 11, 9, 1) 91%,
    rgba(17, 23, 19, 1) 97%
  );
  padding: 0 150px;
  overflow-x: hidden;
  color: $white;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 10px;
}
