@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.woff2) format("woff2");
  font-display: swap;
}
$font1: Inter, sans-serif;

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Medium.woff2) format("woff2");
  font-display: swap;
}
$font2: Poppins, sans-serif;

$white: #ffffff;
$black: #21201e;
$green: #22c55e;
$grey: #7d7d84;

@mixin childCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none; /* Enlève le soulignement pour tous les liens */
  color: inherit; /* Hérite de la couleur du texte environnant */
}
h3 {
  font-family: Arial, sans-serif;
}
body {
  text-align: center;
  font-family: $font1;
  transition: background-color 0.3s ease, color 0.3s ease;
  background: rgb(2, 2, 2);
  background: linear-gradient(
    90deg,
    rgba(2, 2, 2, 1) 0%,
    rgba(8, 11, 9, 1) 91%,
    rgba(17, 23, 19, 1) 97%
  );
  padding: 0 150px;
  overflow-x: hidden;
  color: $white;
  @media screen and (max-width: 1150px) {
    padding: 0 80px;
  }
  @media screen and (max-width: 1060px) {
    padding: 0 20px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $grey;
  border-radius: 10px;
}
