.modal-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.modal-content {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 50%;
  background: $black;
  border-radius: 5px;
  color: $green;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  overflow-y: auto;

  @media screen and (max-width: 1450px) {
    width: 70%;
  }
  @media screen and (max-width: 1000px) {
    padding: 0px 20px;
  }
  // @media screen and (max-width: 450px) {
  //   height: 100vh;
  // }
  &.show {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  h2 {
    margin-top: 50px;
    color: $green;
    @media screen and (max-width: 900px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
      margin-top: 20px;
    }
  }
  .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 7px;
    height: 7px;
    color: $green;
    border-radius: 20px;
    font-size: 1.2rem;
    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
      right: 15px;
      top: 0;
    }
  }
  .logolangages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }
  .itemDescription {
    color: $white;
    text-align: start;
    margin: auto 50px;
    line-height: 1.8;
    font-size: 1rem;
    @media screen and (max-width: 1000px) {
      margin: 0;
    }
  }

  .itemDescription li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    @media screen and (max-width: 1250px) {
      font-size: 0.9rem;
    }
    @media screen and (max-width: 1105px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 0.7rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 0.6rem;
    }
  }

  .itemDescription li::before {
    content: "•";
    color: $green;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: -8px;
    @media screen and (max-width: 1250px) {
      top: -11px;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
      top: -8px;
    }
  }
  .repo {
    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (max-width: 500px) {
      margin-top: 0;
    }
    a {
      color: $green;
      margin-top: 15px;
      text-decoration: none;
      border-bottom: 2px solid $green;
      transition: all 0.4s ease-in-out;
      font-style: italic;
      font-size: 1.1rem;
      letter-spacing: 0.5px;
      &:hover {
        border-bottom: 2px solid transparent;
      }
      @media screen and (max-width: 1105px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.7rem;
      }
    }
  }
}
.light-mode .modal-content {
  background: $white;
  .itemDescription {
    color: $black;
  }
}
